<!--<div id="<%= dom_id post %>">
  <div class="card border-success mb-3 container text-center text-md-start mt-5" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"> </div>
  <div class="card-body text-success">
    <h5 class="card-title"> <%= messages.content %></h5>
  </div>
  <div class="card-footer bg-transparent border-success"><small class="text-end">Created At: <%= messages.updated_at.strftime(" %d %B %H:%M:%S") %> </small></div>
</div>
</div>-->
