

<h1>Search Results</h1>

<% if @posts.any? %>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post" data-post-id="<%= post.id %>">
        <%= render post %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results found.</p> <span class="text-muted">Try searching for something else.</span>
<% end %>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $(".post").click(function() {
      var postId = $(this).data("post-id");
      window.location.href = "/posts/" + postId; 
    });
  });
</script>
